@page
@model Patient_Tracker.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Doctor Details";
}

<h1>Doctor Details</h1>

<div class="container center-content">
    <hr />
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.DFirstName)</dd>
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.DLastName)</dd>
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Email)</dd>
            <dt class="col-sm-4">Address:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Address)</dd>
            <dt class="col-sm-4">Licence Number:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.LicenceNumber)</dd>
        </dl>
    </div>
    <div class="form-group">
        <a asp-page="./Edit" asp-route-id="@Model.Doctor?.Id" class="btn">Edit</a> |
        <a asp-page="./Index" class="btn" style="background-color:blue">Back to List</a>
    </div>
</div>
