@page
@model Patient_Tracker.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .center-content {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }
</style>

<div class="container center-content">
    <h1>Doctor Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.DFirstName)</dd>
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.DLastName)</dd>
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Email)</dd>
            <dt class="col-sm-4">Address:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Address)</dd>
            <dt class="col-sm-4">Licence Number:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.LicenceNumber)</dd>
        </dl>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" class="btn-edit" role="button" aria-pressed="true" asp-route-id="@Model.Doctor.Id">Edit</a>
    </div>
    <p class="text-center">
        <a asp-page="./Index" class="btn-back">Back to List</a>
    </p>
</div>
