@page
@model Patient_Tracker.Pages.Doctors.IndexModel

<body>
    <form asp-page="./Index" method="get">
        <input placeholder="Find Doctor by Name or Licence Number" name="SearchString" value="@Model.FindFilter" class="search" />
        <button type="submit" class="btn"> Search</button>
        <a asp-page="./Index" class="btn" style="background-color:blue">Back to Doctor List</a>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Licence Number</th>
                <th></th>
            </tr>   
        </thead>
        <tbody>
            @foreach (var item in Model.Doctors)
            {
                <tr onclick="window.location.href = '@Url.Page("./Details", new { id = item.Id })';" style="cursor: pointer;">
                    <td>@Html.DisplayFor(modelItem => item.DFirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DLastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.LicenceNumber)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn" style="background-color: blue">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn" style="background-color: red">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="Create" class="btn">Create New</a>
</body>