@page
@model Patient_Tracker.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Patient Details";
}

<div class="container center-content">
    <h1>Patient Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">PPS Number:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.PPSNo)</dd>
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.FirstName)</dd>
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.LastName)</dd>
            <dt class="col-sm-4">DOB:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.DOB)</dd>
            <dt class="col-sm-4">Address:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.Address)</dd>
            <dt class="col-sm-4">Next Of Kin:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.NextOfKin)</dd>
            <dt class="col-sm-4">Blood Type:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.BloodType)</dd>
            <dt class="col-sm-4">Gender:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.Gender)</dd>
            <dt class="col-sm-4">Phone Number:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.PhoneNumber)</dd>
            <dt class="col-sm-4">Doctor:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Patient.DoctorNum)</dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Patient?.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

